@import "public/fonts/roboto/stylesheet.css";
@import "public/fonts/fa/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');

:root {
  --text:     #FFFFFF;
  --subtext:  #bac2de;
  --yellow:   #FFd60a;
  --alt:      #FFC300;
  --bg:       #003566;
  --bg-alt:   #001D3D;

}

body {
  font-family:      Roboto, sans-serif;
  margin:           auto;
  font-size:        20px;
  padding:          20px;
  color:            var(--text);
  background-color: var(--bg);
  max-width:        80vw;
}

div.content {
  max-width:    60vw;
  padding-left: 10vw;
}

div.flex {
  display: flex;
}

div.right-padding {
  padding-right: 32px;
}

div.left-padding {
  padding-left: 32px;
}

div.flex-split {
  display:          flex;
  justify-content:  space-between;
}

img#pfp{
  width:          16vw;
  height:         16vw;
  border-radius:  50%;
}

img {
  max-width:    60vw;
  border-style: solid;
  border-color: var(--alt);
  margin:       5px;
}

img.screenshot {
  width:          10vw;
  border-radius:  16px;
}

img.icon {
  height: 50px;
  width:  50px;
  border: none;
}

div.linktext {
  padding-left: 50px;
}

a {
  text-decoration:  none;
  color:            var(--yellow);
}

a:hover {
  /* text-decoration:  underline; */
  text-decoration: none;
}

div.header {
  display:              flex;
  justify-content:      space-between;
  position:             sticky;
  top:                  0;
  background-color:     var(--bg);
  border-bottom-style:  solid;
  border-bottom-color:  var(--yellow);
  margin-bottom:        32px;
}

div.center {
  margin:     auto;
  max-width:  60vw;
}

h1 {
  font-size:    160px;
  text-align:   center;
  color:        var(--yellow);
  margin:       0px;
  font-family:  "Modak", system-ui;
  font-weight:  400;
  font-style:   normal;
  min-width:    640px;
}

h2 {
  color: var(--yellow);
  /* padding-top: 48px; */
  font-weight: 1000;
  font-family: "Roboto Flex"
}

div.nav {
  padding:  20px 0px 5px 0px;
  display:  inline-block;
  width:    100%;
  position: relative;
}

nav {
  position: absolute;
  bottom:   0;
}

nav.right {
  position: absolute;
  right:    0;
}

div.header nav ul {
  padding: 0px;
}

div.header nav ul li {
  display:        inline-block;
  padding-right:  20px;
}

div.header a {
  color:            var(--yellow);
  text-decoration:  none;
}

div.header a:hover {
  text-decoration: underline;
}

div.header a:active {
  color: var(--text);
}

div.dark {
  background-color: var(--bg-alt);
  border-radius:    16px;
  margin-bottom:    16px;
  padding:          32px;
}

div.project-card {
  display:          flex;
  justify-content:  space-between;
}

div.gh-wrapper {
  padding: 12px;
}

.bkwrds {
  display: inline-block; 
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
