div.header h1 span span {
  transition: all 0.5s;
  animation: animate 2s;
}

/* hover anim */
/* div.header:hover h1:hover span span { */
/*   transition: all 0s; */
/*   animation: animate 2s infinite; */
/* } */

@keyframes animate {
  0% {
    margin: 0.2px;
  }
  20% {
    margin-left:  8px;
    margin-right: 8px;
  }
  100% {
    margin: 0.2px;
  }
}
