div.header h1 span span {
  animation: animate 2s;
}

div.header h1:active span span {
  animation: none;
}

div.header h1:focus span span {
  animation: animate 2s;
}


@keyframes animate {
  0% {
    margin: 0.2px;
  }
  20% {
    margin-left:  8px;
    margin-right: 8px;
  }
  100% {
    margin: 0.2px;
  }
}
