@media (min-width: 1200px) {
  div.content {
    max-width:    60vw;
    padding-left: 10vw;
  }

  h1 {
    font-size:    160px;
    text-align:   center;
    color:        var(--yellow);
    margin:       0px;
    font-family:  "Modak", system-ui;
    font-weight:  400;
    font-style:   normal;
    min-width:    720px;
    max-height:   180px;
  }

  h1:hover {
    color: var(--alt);
  }

  li {
    display: inline-block;
  }

  div.swap {
    display: flex;
  }

  img.screenshot {
    width:          10vw;
    border-style:   none;
  }

  div.phone {
    display: none;
  }

  div.widescreen {
    display: inherit;
    position: sticky;
  }

  div.nav {
    width: 100%;
  }

  div.phone-small {
    display: none;
  }

  div.phone-large {
    position:         sticky;
    top:              0;
    background-color: var(--bg);
    z-index:          20;
  }
}
